.tape {
  position: relative;
  background-color: black;
}

.tape-form {
  z-index: 2;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 24px;
  background-color: #c49b63;
}

@media only screen and (max-width: 1024px) {
  .tape-form {
    position: relative;
    padding: 12px;
  }

  .tape-form textarea {
    display: none;
  }

  .tape-form button {
    padding: 16px 24px;
    margin: 0 20px;
  }
}