@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.menu {
  padding: 112px 0;
  margin: 0;
}

.menu-left {
  text-align: right;
  padding: 0 48px 0 20px;
  height: 508px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.menu-left-text-container {
  max-width: 507px;
}

.full-menu-btn {
  background-color: transparent;
  padding: 16px 24px;
  font-size: 13px;
  color: #c49b63;
  border: 1px solid #c49b63;
  font-family: "Poppins", Arial, sans-serif;
  transition: 0.2s ease-in-out;
}

.full-menu-btn:hover {
  background-color: #c49b63;
  color: white;
}

.menu-right {
  padding: 0 20px 0 0;
  display: flex;
  flex-wrap: no-wrap;
}

.menu-img-left {
  height: 254px;
  width: 285px;
  padding: 0 15px;
}

.menu-img-left img {
  width: auto;
  height: 220px;
}

.menu-img-right {
  padding: 0 15px;
  height: 254px;
  width: 285px;
  display: flex;
  align-items: center;
}

.bcg-container {
  width: 255px;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media only screen and (max-width: 1150px) {
  .menu-left {
    padding: 0 24px 0 0;
  }

  .menu-left p.text {
    margin-bottom: 20px;
  }
  
  .menu-img-left {
    width: 180px;
  }

  .menu-right {
    padding: 0 20px 0 24px;
  }

  .menu-img-right {
    width: 180px;
    display: block;
  }

  .bcg-container {
    width: 150px;
  }
}

@media only screen and (max-width: 813px) {
  .menu-left p.title {
    font-size: 32px !important;
  }
} 

@media only screen and (max-width: 768px) {
  .menu {
    padding: 90px 0;
  }
  .menu-left {
    display: block;
    text-align: left;
    padding: 0 15px;
    height: auto;
    margin-bottom: 16px;
  }
  .menu-left-text-container {
    max-width: 100%;
  }

  .menu-right {
    display: block;
    padding: 0 15px;
  }

  .menu-img-left {
    width: 100%;
    display: block;
    padding: 0;
    height: 200px;
    margin-bottom: 30px;
  }

  .menu-img-right {
    width: 100%;
    display: block;
    padding: 0;
    height: 200px;
    margin-bottom: 30px;
  }

  .bcg-container {
    width: 100%;
  }
}


