@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

.hero {
  height: 750px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.hero-container {
  z-index: 2;
  text-align: center;
  text-transform: uppercase;
  cursor: context-menu;
}

.hero-title {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 40px;
  line-height: 1.5;
  letter-spacing: 1px;
  color: white;
}

.hero-subtitle {
  margin: 0 4px;
  font-size: 13px;
  letter-spacing: 1px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.hero-subtitle-left {
  color: white;
  cursor: pointer;
}

.hero-subtitle-right {
  color: rgb(191, 191, 191);
}

@media only screen and (max-width: 768px) {
  .hero {
    background-attachment: initial;
    background-position: 40% 50%;
  }
}
