@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


.navbar {
  background-color: transparent !important;
  position: absolute !important;
  top: 0;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.navbar-container {
  display: flex !important;
  flex-direction: row !important;
  align-items: center;
  justify-content: space-between;
}

.navbar-right span {
  cursor: pointer;
  padding: 24px 20px;
  font-size: 13px;
  font-family: "Poppins", Arial, sans-serif;
  color: rgba(255, 255, 255, 0.9);
  letter-spacing: 2px;
  line-height: 23.4px;
  text-transform: uppercase;
  transition: 0.2s ease-in-out;
}

.navbar-right span:hover {
  color: #c49b63;
}

.hamburger-menu span {
  cursor: pointer;
  padding: 20px 0px 20px 10px;
  font-size: 16px;
  font-family: "Poppins", Arial, sans-serif;
  color: rgba(255, 255, 255, 0.9);
  letter-spacing: 2px;
  line-height: 23.4px;
  text-transform: uppercase;
  transition: 0.2s ease-in-out;
}

.hamburger-menu {
  display: none;
}

.burger g {
  fill: white;
}

.navbar-left {
  text-align: center;
}

.navbar-left p {
  cursor: pointer;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 22px;
  line-height: 22px;
  padding-left: 20px;
  margin-top: 7px;
  text-transform: uppercase;
}

.navbar-left span {
  display: block;
  font-size: 12px;
  letter-spacing: 5px;
  line-height: 12px;
  padding: 5px 0;
  text-transform: uppercase;
}

.active-nav {
  color: #c49b63 !important;
}

.second-navbar {
  width: 100%;
  left: 0;
  background-color: #151111;
}

.second-navbar .navbar {
  max-width: 99.9vw;
  position: fixed !important;
  background-color: #151111 !important;
  top: -100px !important;
  border: 0;
  transition: all 0.4s !important;
}

.second-navbar .sticky-navbar {
  position: fixed !important;
  top: 0 !important;
  transition: top 0.4s !important;
}

.scroll-burger-nav {
  max-height: 0;
  height: 0;
  background-color: #151111;
  overflow: hidden;
  transition: all 0.4s;
}

.scrolled-burger {
  max-height: 655px;
  height: 355px;
  background-color: #151111;
  transition: all 0.4s;
}

.scroll-burger-nav .burger-nav-span {
  display: block;
  cursor: pointer;
  padding: 24px 20px;
  font-size: 13px;
  font-family: "Poppins", Arial, sans-serif;
  color: rgba(255, 255, 255, 0.9);
  letter-spacing: 2px;
  line-height: 23.4px;
  text-transform: uppercase;
  transition: 0.2s ease-in-out;
}

@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #151111 !important;
    position: absolute !important;
    top: 0;
    width: 100%;
    border-bottom: 0;
  }

  .hamburger-menu {
    display: flex;
  }

  .navbar-right {
    display: none;
  }

  .navbar-container {
    padding: 0 20px !important;
  }

  .navbar-left p {
    padding-left: 0;
  }

  .second-navbar .navbar {
    display: none;
  }

  .navbar {
    max-width: 99.9vw;
    position: fixed !important;
    background-color: #151111 !important;
    top: 0px !important;
    border: 0;
    transition: all 0.4s !important;
  }
}
