@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@font-face {
  font-family: GreatVibes;
  src: url("./GreatVibes-Regular.otf") format("opentype");
}
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

.title-center {
  padding: 0 20px !important;
  margin-top: 105px;
  margin-bottom: 64px;
  text-align: center;
  margin: 105px 0 64px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.component-title {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 40px !important;
  color: white !important;
  text-transform: uppercase;
  font-weight: 700;
}

.gold-title {
  letter-spacing: .2rem;
  font-weight: lighter;
  font-size: 50px;
  margin-bottom: 0;
  font-family: "GreatVibes", cursive;
  color: #c49b63;
  z-index: 1;
  margin-bottom: -34px;
  display: block;
  text-transform: capitalize;
}

.component-text {
  font-family: "Poppins", Arial, sans-serif;
  font-size: 15px;
  line-height: 1.8;
  font-weight: 300;
  color: gray;
}